/* ---------------- headers */

h1,h2,h3,h4,h5,h6 {
    text-align: center;
    padding: 1rem;
}

.heading-container {
    position: static;
    height: 50px;
}

/* ---------------- buttons */

.container, .start-container {
    position: static;
}

.container {
    height: 200px;
}

.start-container {
    height: 100px;
}

.node, #start {
    width: 200px;
    height: 200px;
    border: 5px outset black;
    border-radius: 100px;
    position: relative;
    float: inline-start;
}

#start:hover  {
    opacity: 0.85;
}

#button-red {
    background-color: red;
    left: 25%;
}

#button-yellow {
    background-color: yellow;
    left: 45%;
}

#button-blue {
    background-color: rgb(27, 27, 247);
    left: 25%;
}

#button-green {
    background-color: green;
    left: 45%;
}

#start {
    width: 150px;
    height: 75px;
    border-radius: 50px;
    background-color: #808085;
    left: 16%;
    top: 30%;
}

/* ---------------- button reactiveness */

.light {
    opacity: 0.35;
}

.clicked {
    border: 5px inset black;
}