h1,h2,h3,h4,h5,h6 {
    text-align: center;
    padding: 1rem;
}

.button {
    width: 200px;
    height: 200px;
    border: 5px outset black;
    border-radius: 100px;
    position: relative;
}

#button1 {
    background-color: red;
    left: 25%;
}

#button2 {
    background-color: yellow;
    left: 60%;
    bottom: 201px;
}

#button3 {
    background-color: rgb(27, 27, 247);
    left: 25%;
}

#button4 {
    background-color: green;
    left: 60%;
    bottom: 201px;
}

#start {
    width: 150px;
    height: 75px;
    border-radius: 50px;
    background-color: #808085;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    left: 420%;
    bottom: 100px;
}