/* headers */

h1,h2,h3,h4,h5,h6 {
    text-align: center;
    padding: 1rem;
}

.heading-container {
    display: flex;
	justify-content: space-around;
}

/*  buttons */

.container, .start-container {
    display: flex;
	justify-content: space-evenly;
}

.space {
    height: 2rem;
}

.node, #start {
    width: 11rem;
    height: 11rem;
    border: 5px outset #000000;
    border-radius: 6.5rem;
}

#button-red {
    background-color: #ff0000;
}

#button-yellow {
    background-color: #ffff00;
}

#button-blue {
    background-color: #1b1bf7;
}

#button-green {
    background-color: #008000;
}

#start {
    width: 8rem;
    height: 4rem;
    border-radius: 3rem;
    background-color: #808085;
    top: 50%;
}

#start:hover  {
    opacity: 0.85;
}

/*  button reactiveness */

.light {
    opacity: 0.35;
}

.clicked {
    border: 5px inset #000000;
}

.hide {
    visibility: hidden;
}

/*  responsive design for different screen sizes */

@media screen and (max-width: 768px) {

    .node, #start {
        width: 8rem;
        height: 8rem;
        border-width: 4px;
        border-radius: 4rem;
    }

    #start {
        height: 3rem;
    }
}

@media screen and (max-width: 431px) {
    .container {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .node, #start {
        width: 7rem;
        height: 7rem;
        border-width: 3px;
        border-radius: 3.5rem;
    }

    #start {
        height: 1.5rem;
    }
}